:root {
  --bg-light: #fcf8e8;
  --bg-light-secondary: #94b49f;
  --highlight: #df7861;
  --font-dark: rgb(21, 21, 21);
  --font-secondary: #76549a;
}
.input {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  padding: 20px;
  text-align: center;
}
button,
input,
select {
  padding: 10px;
  border-radius: 2px;
  border: none;
  color: var(--font-dark);
}
input,
select {
  background-color: var(--bg-light-secondary);
}

#setSlot {
  background-color: rgb(39, 192, 39);
  color: white;
}

#clearAll {
  background-color: red;
  color: white;
}
#clearAll:hover {
  background-color: rgb(184, 63, 63);
  color: white;
}

#setSlot:hover {
  background-color: green;
  color: white;
}
