:root {
  --bg-light: #fcf8e8;
  --bg-light-secondary: #94b49f;
  --highlight: #df7861;
  --font-dark: rgb(21, 21, 21);
  --font-secondary: #76549a;
  --font-dark1: rgb(63, 60, 60);
}
.TabContent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tableBox {
  margin-top: 30px;
}
td {
  text-align: center;
  width: 9vw;
  padding: 1px;
  overflow: hidden;
  height: 10vh;
}
th {
  text-align: center;
  height: 10vh;
  color: var(--font-dark1);
}
.input {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  padding: 20px;
  text-align: center;
}
tr {
  background-color: #94b49fb2;
}
button,
input,
select {
  padding: 10px;
  border-radius: 2px;
  border: none;
  color: var(--font-dark);
}
input,
select {
  background-color: var(--bg-light-secondary);
}

#setSlot {
  background-color: rgb(39, 192, 39);
  color: white;
}

#clearAll {
  background-color: red;
  color: white;
}
#clearAll:hover {
  background-color: rgb(184, 63, 63);
  color: white;
}

#setSlot:hover {
  background-color: green;
  color: white;
}

#dayOfWeek {
  font-weight: bold;
  color: var(--font-dark1);
}
