:root {
  --bg-light: #fcf8e8;
  --bg-light-secondary: #94b49f;
  --highlight: #df7861;
  --font-dark: rgb(21, 21, 21);
  --font-secondary: #76549a;
  --font-dark1: rgb(63, 60, 60);
}
.slotTodayName {
  width: 300px;
}
.slotTodayTime {
  width: 90px;
  text-align: center;
}
.thirdTab {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.todayContainer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
}
.slotToday {
  color: rgb(6, 69, 55);
  height: 40px;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  background-color: var(--bg-light-secondary);
  justify-content: centre;
  padding: 10px;
  width: max-content;
  border-radius: 7px;
}
.slotToday:hover {
  opacity: 97%;
  background-color: var(--font-secondary);
  color: white;
}
#handleAttend {
  background-color: rgb(199, 114, 80);
  color: white;
  border-radius: 7px;
  display: flex;
  align-items: center;
  text-align: center;
  height: 20px;
  display: flex;
}
#handleAttend:hover {
  background-color: rgb(39, 190, 39);
  color: white;
}
