:root {
  --bg-light: #fcf8e8;
  --bg-light-secondary: #94b49f;
  --highlight: #df7861;
  --font-dark: rgb(21, 21, 21);
  --font-secondary: #76549a;
  --font-dark1: rgb(63, 60, 60);
}
.slotTodayName {
  width: 300px;
}
.slotTodayTime {
  width: 110px;
  text-align: center;
}
.thirdTab {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.todayContainer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
}
.slotToday {
  color: rgb(6, 69, 55);
  height: 40px;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  background-color: var(--bg-light-secondary);
  justify-content: centre;
  padding: 10px;
  width: 500px;
  border-radius: 7px;
}
.slotToday:hover {
  opacity: 99%;
  background-color: #00000072;
  color: white;
}
#handleAttend {
  background-color: rgb(198, 23, 78);
  color: white;
  border-radius: 7px;
  box-shadow: 1px 1px rgb(137, 4, 4);
  display: flex;
  align-items: center;
  width: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 20px;
  display: flex;
}
#handleAttend:hover {
  background-color: rgb(26, 229, 26);
  color: rgb(0, 0, 0);
  scale: 1.1;
  box-shadow: 1px 1px rgb(137, 4, 4);
}
