input:focus {
  outline: none;
}
:root {
  --dark-primary: #222831;
  --dark-secondary: #393e46;
  --light-primary: #eeeeee;
  --light-secondary: #00adb5;
  --font-dark: rgb(26, 25, 25);
}
.formBox {
  align-items: center;
  justify-content: center;
  display: flex;
}
body {
  background-image: url("./loginBack.jpg");
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
#topRightBox {
  width: 20%;
  display: flex;
  flex-direction: row;
  column-gap: 15%;
  text-align: center;
  background: inherit;
  font-size: 1.5em;
  position: absolute;
  right: 0.1%;
  top: 6%;
}
#InnerFormBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  position: absolute;
  top: 100px;
  background-color: rgba(106, 105, 105, 0.114);
  padding: 50px;
  height: 400px;
}

.inputBox {
  color: var(--light-secondary);
  background-color: var(--light-primary);
  opacity: 30%;
}
.logIn {
  border-radius: 10px;
  background-color: var(--dark-primary);

  margin-top: 30px;
  color: rgb(255, 255, 255);
}
.logIn:hover {
  background-color: blue;
  transform: scale(1.1);
}
#signUp:hover {
  color: rgba(210, 179, 179, 0.929);
}

.error {
  color: white;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(49, 47, 47);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(49, 47, 47);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(49, 47, 47);
}
