.form {
  align-items: center;
  justify-content: center;
  display: flex;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  position: absolute;
  top: 100px;
  background-color: #df7861;
  padding: 50px;
  border-radius: 30px;
  height: 400px;
}

.input {
  font-size: 20pt;
  color: rgb(41, 41, 41);
}
.logIn {
  border-radius: 10px;
  background-color: rgb(125, 171, 52);
  margin-top: 30px;
  color: rgb(255, 255, 255);
  font-size: 20pt;
}
.logIn:hover {
  background-color: rgb(7, 88, 251);
}

.error {
  background-color: inherit;
  color: white;
}
#setSlot {
  background-color: rgb(39, 192, 39);
  color: white;
}

#clearAll {
  background-color: red;
  color: white;
}
#clearAll:hover {
  background-color: rgb(184, 63, 63);
  color: white;
}

#setSlot:hover {
  background-color: green;
  color: white;
}
button,
input,
select {
  padding: 10px;
  border-radius: 2px;
  border: none;
  color: var(--font-dark);
}
input,
select {
  background-color: var(--bg-light-secondary);
}
